<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <section class="site_container">
      <header>
        <h1>TASKLIST</h1>
      </header>

      <nav>
        <ul>
          <li>Add Task</li>
          <li><a href="/tasks">All Tasks</a></li>
        </ul>
      </nav>

      <main>
        <%= yield %>
      </main>
      <footer>
        <h5> © 2018 </h5>
      </footer>
    </section>
  </body>
</html>
